html {
    scroll-behavior: smooth;
    button, a {
        &:hover {
            cursor: pointer;
        }
    }
}
body {
    // overflow: hidden;
    font: {
        family: 'Sarala', sans-serif;
        size: 1.1em;
    }
    line-height: 1.4em;
    text-align: justify;
}
main {
    height: 100vh;

    background-image: url(../images/header.jpeg);
    background-size: 100% 100%;
    background-attachment: fixed;

    color: $color2;
}
h1 {
    margin-top: 0;
}
.wrapper {
    padding: 75px;
    background-color: whitesmoke;

    h2 {
        text-align: center;
    }
}
.aboutGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;

    h2 {
        grid-column: 1/3;
    }

    img {
        margin: auto;
        height: 150px;
        width: 200px;
    }
}
.languages {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 2em;
    text-align: center;
}

.underline {
    text-decoration: underline;
    font-size: 1.1em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    .code4ct {
        background-image: url('../images/Code4ct.png');
        background-size: 100% 100%;
    }

    .blog {
        background-image: url('../images/blog.png');
        background-size: 100% 100%;
    }

    .project {
        display: grid;
        grid-template-rows: 70% 30%;
        height: 200px;
        text-decoration: none;

        h2 {
            grid-row: 2;

            color: white;
            background-color: rgba($color: #000000, $alpha: 0.4);
            margin: 0;
        }
    }
}
