// hover colors for links
$githubGrey: #c6cbd1;
$linkedInBlue: #665ed0;

// 5 base colors 
$color1: #012586; // resolution-blue
$color2: #065D6F; // blue-sapphire
$color3: #75D6D0; // middle-blue-green
$color4: #3AB795; // keppel
$color5: #A0E8AF; // teal-deer

// darker shades
$whitesmoke-dark: #dfdfdf;
$whitesmoke-darker: #cbcbcb;