// base
@media (max-width: 768px) {
    body {
        font-size: 1.1em;
    }
    .wrapper {
        padding: 40px;
    }
    .aboutGrid {
        display: block;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);

        .project {
            img {
                width: 150px;
                height: 75px;
            }
        }
    }
}

@media (max-width: 360px) {
    body {
        font-size: 0.9em;
    }
    .wrapper {
        padding: 30px;
    }
    
    .projects {
        grid-template-columns: repeat(1, 1fr);

        .project {
            img {
                width: 100px;
                height: 50px;
            }
        }
    }
}

// header
@media (max-width: 768px) {
    header {
        h1 {
            font-size: 3em;
        }
        h3 {
            font-size: 1.4em;
        }
        .social-links {
            #contactDetails {
                font-size: 0.5em;
            }
            
        }
    }
    
}

@media (max-width: 360px) {
    header {
        h1 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.2em;
        }
    }
    
}

// navigation
@media (max-width: 768px) {
    .tablinks {
        .label {
            display: none;
        }

        .icon {
            display: block;
        }
    }
    .eduLinks {
        .lca {
            width: 160px;
        }
    }
}

@media (max-width: 500px) {
    .eduLinks {
        img {
            height: 75px;
            width: 75px;
        }
        .lca {
            width: 100px;
        }
    }
}

@media (max-width: 430px) {
    .eduLinks {
        img {
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 360px) {
    
}

// footer
@media (max-width: 768px) {

}

@media (max-width: 360px) {
    
}
